/*

style structure:
- main
- resets
- links
- other

colors:
- link: #3399FF
- hovered link: #E9F6FB
- visited link: #25BA2A
- translucency: rgba(255, 255, 255, 0.9)

*/
/*main*/
body {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  width: 1220px;
  padding: 0px 20px;
  line-height: 1.6;
  cursor: default;
}
@font-face {
  font-family: code-font;
  src: url("consolas.ttf");
}
.center {
  width: 850px;
  margin: 0 auto;
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  -o-animation: fadein 0.6s;
}

#welcome img{
  padding-top: 40px;
  margin-left: 100px;
  margin-right: auto;
  width: 70%;
  height: auto;
}
/*Section's style*/
.category{
  font-weight: bolder;
  width: auto;
  border:2px solid;
  font-size: 20px;
  padding-left: 5px;
  margin-bottom: 5px;

}
.category:hover{
  color: #ff1a75;
}
/*Sub-section's style*/
.subcat{
  font-style: italic;
  font-weight: bold;
  color: #33CC00;
  background-color: black;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
}
/*Due date's style*/
.due{
  font-weight: bolder;
  text-decoration: underline;
}

/*Footer's style*/
footer {
  text-align: center;
  color: #777777;
}

/*CSLogo's style*/
#cs-logo {
  width: 400px;
  margin: 0 auto;
}

::selection {
  background: #E7E7E7;
  /* Safari */
}
::-moz-selection {
  background: #E7E7E7;
  /* Firefox */
}
/*resets*/
*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Paragraph's style*/
p, blockquote, form, ful {
  margin: 1em 0;
}

/*links*/
a {
  padding: 2px 3.5px 0px 3px;
  border-radius: 14px;
  outline: none;
  color: #33CC00;
  text-decoration: none;
  transition: 0.5s;
  text-decoration: underline;
  /*background: url(images/external-link.gif) no-repeat right top;*/
  /*padding-right: 10px;*/
}
a:hover{
  color: #33cc00;
  background: #FFE0CC;
  transition: 0.3s;
}
a:active{
  background-color: red;
}

/*Navigation bar's style*/
nav {
  /*top navigation bar*/
  position: fixed;
  width: inherit;
  height: 57.5px;
  line-height: 2;
  margin: -20px 0 0 0px;
  padding: 20px 20px 0 20px;
  background-color: black;
  border-radius: 10px;
  /*background-color: rgba(255, 255, 255, 0.9);*/
}

/*Media Queries*/
@media screen and (max-width: 1000px) {
  /*nav bar for mobile display*/
  nav {
    position: fixed;
    margin-top: -30px;
    margin-left: 90px;
    padding-left: 20px;
    width: 858px;
    top: 40px;
    left: 30px;
    /*line-height: 2;*/
    /*margin: -57px 0 0 -8px;*/
    /*padding: 9px 0 6px 0;*/
    /*background-color: rgba(255, 255, 255, 0);*/
  }
}
nav li a {
  padding: 4px 10px 4px 10px;
  margin-left: 1px;
  margin-right: :1px;
  border-radius: 17px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

nav li {
  margin: 0;
  display: inline-block;
}

/*List's style*/
li {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*Feedback text box*/
#box {
  width:700px;
  height: 100px;
  margin-top: 10px;
}

/*Clear floating overlap*/
#course{
clear: both;
}

/*Course team style*/
#prof{
  float: left;
  width: 50%;
  overflow: hidden;
  text-decoration: underline;
}
#prof img{
  margin-top: 10px;
  width: auto;
  height: 205px;
}
#ta{
  display: inline-block;
  float: right;
  width: 100% - 20px;
}
#feedback{
  clear: both;
}



/*Assignment table and class schedule.*/
.rTable {
  display: table;
  width: 100%;
  padding-top: 0;
}

.rTableRow {
  display: table-row;
}
.rTableHeading {
  display: table-header-group;
  background-color: #DDD;
}
.rTableCell, .rTableHead {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #999999;
}
.rTableHeading {
  display: table-header-group;
  background-color: #DDD;
  font-weight: bold;
}
.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #DDD;
}
.rTableBody {
  display: table-row-group;
  background-color: #E5F2FF;
}
